{% include 'include/header.twig' %}

<div class="page">
  <form method="post" action="index.php?view=ListArticles&action=AddArticle">
    <fieldset>
      <legend>Article</legend>
      <label for="article_title">Titre :
      </label>
      <input id="article_title" type="text" name="article_title">
    </fieldset>
    <fieldset>
      <legend>Auteur :
      </legend>
      <label for="article_author_name">Nom :
      </label>
      <input id="article_author_name" type="text" name="article_author_name">
      <label for="article_author_firstname">Prénom :
      </label>
      <input id="article_author_firstname" type="text" name="article_author_firstname">
    </fieldset>
    <fieldset>
      <legend>Magazine</legend>
      Titre du magazine :
      <input type="text" name="magazine_title">

      Num. du magazine :
      <input type="text" name="magazine_num">
      Page :
      <div>
        <input type="text" name="magazine_page_start">-
        <input type="text" name="magazine_page_end">
      </div>

      Date du magazine :
      <div>
        <input type="text" name="mag_date_day" />/
        <input type="text" name="mag_date_month" />/
        <input type="text" name="mag_date_year"/>
      </div>
    </fieldset>
    <fieldset>
      <legend>Commentaire</legend>
      <textarea name="commentary" rows="4"></textarea>
    </fieldset>

    {% for group in groups %}
      <fieldset class="group" id="{{ group.id }}">
        <legend>{{ group.name }}
          (<span class="action" onclick="checkAll('{{ group.id }}')">tous</span> /
          <span class="action" onclick="checkNone('{{ group.id }}')">aucun</span>)
        </legend>
        {% for user in group.members %}
          <input class="list_group" type="checkbox" name="{{ user.id }}" id="{{ user.id }}"/>
          <label for="{{ user.id }}">{{ user.name }}</label>
        {% endfor %}
      </fieldset>
    {% endfor %}

    <fieldset class="group" id="{{ group.id }}">
      <legend>Sans groupe (
        <span class="action" onclick="checkAll('{{ group.id }}')">tous</span>/
        <span class="action" onclick="checkNone('{{ group.id }}')">aucun</span>
        )</legend>
      {% for user in noGroupUsers %}
        <label for="{{ user.id }}">
          <input class="list_group" type="checkbox" name="{{ user.id }}" id="{{ user.id }}"/>
          {{ user.name }}
        </label>
      {% endfor %}
    </fieldset>

    <input type="submit" value="Créer"/>
  </form>
</div>
