{% include 'include/header.twig' %}

<a href="?view=AddArticle" class="add">Ajouter un article</a>

<form method="get" action="./index.php?action=DelArticle">
  <select name="month">
  {% for key, monthName in months %}
    <option value="{{ key }}" {% if key == month %}selected {% endif %}>{{ monthName }}</option>
  {% endfor %}
  </select>
  <input type="test" name="year" value="{{ year }}" size="4" maxlength="4">
  <input type="submit" value="Filtrer" />
</form>

<table>
  <tr>
    <th>Titre</th>
    <th colspan="2">Actions</th>
  </tr>
  {% for id, article in articles %}
    <tr>
      <td>{{ article.title }}</td>
      <td class="action">
        <a href="index.php?view=ModArticle&articleid={{ id }}" class="edit"><img src="../img/edit.svg" alt="edit"></a>
        <a href="index.php?action=DelArticle&view=ListArticles&articleid={{ id }}" class="delete"><img src="../img/delete.svg" alt="delete"></a>
      </td>
    </tr>
  {% endfor %}
</table>
