{% include 'include/header.twig' %}

<h1>Choix du rapport à afficher</h1>
<form method="get" action="./index.php">
  <select name="userid" size="1">
  {% for user in users %}
    <option value="{{ user.id }}">{{ user.name }}</option>
  {% endfor %}
  </select>

  <select required name="month">
  {% for key, monthName in months %}
    <option value="{{ key }}" {% if key == curMonth %}selected="selected" {% endif %}> {{ monthName }}</option>
  {% endfor %}
  </select>

  <input type="test" name="year" value="{{ curYear }}" size="4" maxlength="4">
  <input type="submit" value="Voir" />
</form>
