{% include 'include/header.twig' %}

<h1 class="Report">Sélection d'articles pour {{ username }}</h1>

{% for article in articles %}
  <h3 class="report">{{ article.title }}</h3>
  <p class=\"report\">Dans "{{ article.magazine }}" n°{{ article.num_magazine }} ({{ article.date_magazine }}) à la page {{ article.page_magazine_start }}. {{ article.commentary }}<br />
  <b>Biblio : </b>
  {% if article.author_name != 0 %}{{ article.author_name }}, {{ article.firstname }}. {% endif %}
  {{ article.title }}. <span style=\"font-style: italic;\">{{ article.magazine }}</span>,
  {{ article.date_magazine }}, n°{{ article.num_magazine}},
  p. {{ article.page_magazine_start }}{% if article.page_magazine_end != 0 %}-{{ article.page_magazine_end }}{% endif %}
</p>
{% endfor %}
