{% include 'include/header.twig' %}

<h1 class="Report">Sélection d'articles pour {{ username }}</h1>

{% for article in articles %}
  <h3 class="report">{{ article.title }}</h3>
  <p class=\"report\">Dans "{{ article.magazine.title }}" n°{{ article.magazine.issue }} ({{ article.magazine.releaseDate|date("d/m/Y") }}) à la page {{ article.pageStart }}. {{ article.comment }}<br />
  <b>Biblio : </b>
  {% if article.author.name is not empty %}
    {{ article.author.name }}, {{ article.author.firstname }}.
  {% endif %}
  {{ article.title }}. <span style=\"font-style: italic;\">{{ article.magazine.title }}</span>,
  {{ article.magazine.releaseDate|date("d/m/Y") }}, n°{{ article.magazine.issue }}{% if article.pageStart != 0 %}, p. {{ article.pageStart }}{% if article.pageEnd != article.pageStart %}-{{ article.pageEnd }}{% endif %}
  {% endif %}
</p>
{% endfor %}
